<!DOCTYPE html>
<html>
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta charset="utf-8">
	  <title>Agenda | AlunITA</title>
 		<link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}">
 		<link rel="stylesheet" href="{{ url_for('static', filename='material.css') }}">
 		<link rel="stylesheet" href="{{ url_for('static', filename='styleAlunitaOK1.css') }}">
	</head>

	<body>
		<section id="DirecionamentoTelas" class="BackGr BackImage">
			<!-- Cabeçalho do app -->
			<div class="barra-principal valign-wrapper yellow darken-2">
				<div class="container">
					<a href="principal"><img src="../static/resources/logo2.png" class="logoCab" width="89.4px" height="48.8px"></a>
				</div>
			</div>
			<div class="container">
				<p class="titulo-pagina">Agenda</p>
		    <div class="col s12 m12">
		      <div class="card blue-grey darken-1">
		        <div class="card-content white-text">

		        
		        </div>
		      </div>
		    </div>
                                        
		  </div>
		</section>

		<footer class="red lighten-1">
			<div class="container">
			<p>aaaa</p>
			</div>
		</footer>

		<!-- JS -->	
		<script type=text/javascript src="{{
	  url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type=text/javascript src="{{
	  url_for('static', filename='js/materialize.min.js') }}"></script>
	</body>
</html>
